.devanalytics-container-settings {
    float: left;
    display: block;
    width: 95%;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 25px;
    min-height: 560px;
}

#reportrange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: max-content;
}

.devanalytics-container-center {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.devanalytics-flex-container {
    display: flex;
}

.devanalytics-flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}